@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,italic,500,700,900);
//============================================================
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//============================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 16px;
   letter-spacing: 1.1px;
}
html,
body {
	height: 100%;
	min-width: 320px;
}
body {
	line-height: 1;
	font-family: Roboto;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
   background-color: #333;
}
input,
button,
textarea {
	font-family: Roboto;
	font-size: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	//color: #000;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: url('assets/home.png') center /cover  no-repeat;
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: ($md1 + px)) {
		max-width: 970px;
	}
	@media (max-width: ($md2+px)) {
		max-width: 750px;
	}
	@media (max-width: ($md3+px)) {
		max-width: none;
		padding: 0 10px;
	}
}

.page {
	flex: 1 1 auto;
   display: flex;
   justify-content: space-between;
   padding: 10px 40px;
   color: #fff;
}
.ancient-container {
   flex: 0 1 40%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.ancient-card {
   width: 250px;
   height: 310px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   transition: all 0.5s ease 0s;
   cursor: pointer;
   &:nth-child(1) {
      background: url(./assets/Ancients/Azathoth.png) 0 0 /cover no-repeat;
   }
   &:nth-child(2) {
      background: url(./assets/Ancients/Cthulthu.png) 0 0 /cover no-repeat;
   }
   &:nth-child(3) {
      background: url(./assets/Ancients/IogSothoth.png) 0 0 /cover no-repeat;
   }
   &:nth-child(4) {
      background: url(./assets/Ancients/ShubNiggurath.png) 0 0 /cover no-repeat;
   }
   &.active {
      box-shadow: 5px 5px 40px 2px #00769A;
   }
   &:hover {
      transform: scale(1.1);
      transition: all 0.5s ease 0s;
   }
}
.difficulty-container {
   flex: 0 1 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2em;
}
.difficulty,
.shuffle-button {
   display: block;
   border: #00769A 1px solid;
   background-color: rgba(0, 118, 154, 0.6);
   border-radius: 7px;
   padding: 11px 20px;
   min-width: 110px;
   text-align: center;
   transition: all 0.5s ease 0s;
   cursor: pointer;
   &.active {
      box-shadow: 5px 5px 40px 2px #00769A;
      background-color: rgba(0, 118, 154, 0.8);
   }
   &:hover {
      transition: all 0.5s ease 0s;
      box-shadow: 5px 5px 40px 2px #00769A;
      background-color: rgba(0, 118, 154, 0.6);
   }
}
.deck-container {
   flex: 0 1 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.shuffle-button {
   max-width: 200px;
}

.game {
   width: 160px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 2.5em;
}
.current-state {
   display: flex;
   flex-direction: column;
   gap: 1.4em;
}
.stage-container {
   display: flex;
   flex-direction: column;
   gap: 1em;
}
.stage-text {
   text-align: center;
}
.dots-container {
   display: flex;
   justify-content: space-between;
   gap: 5px;
}
.dot {
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.green {
   background-color: rgba(0, 104, 0, 0.7)
}
.brown {
   background-color: rgba(104, 60, 34, 0.7);
}
.blue {
   background-color: rgba(0, 118, 154, 0.7);
}
.deck,
.last-card {
   width: 130px;
   height: 173px;
   background: url(assets/mythicCardBackground.png) 0 0 /cover no-repeat;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   margin: 0 auto;
   transition: all 0.5s ease 0s;
   &:hover {
      transform: scale(1.1);
      transition: all 0.5s ease 0s;
   }
}

.last-card {
   background: url(assets/MythicCards/blue/blue1.png) 0 0 /cover no-repeat;
}

.hidden {
   display: none;
}